@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source "hugo_stats.json";

@theme {
  --font-display: "Inter", sans-serif; 
}

body {
  @apply font-display text-neutral-600 transition-colors duration-300;
}

h1 {
  @apply mt-6 sm:mt-12 mb-3 text-2xl font-medium tracking-tight text-neutral-900;
}

h3 {
  @apply mb-5 text-lg font-medium tracking-tight text-neutral-900;
}

a {
  @apply text-neutral-900 hover:text-neutral-600;
}
