@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source "hugo_stats.json";

@theme {
  --font-display: "Inter", sans-serif;
  --color-accent: oklch(70.5% 0.213 47.604);
  --color-muted: var(--color-neutral-500);
  --color-foreground: var(--color-neutral-900);
  --color-background: var(--color-neutral-100);
}

body {
  @apply font-display text-muted selection:bg-accent selection:text-foreground;
}

h1 {
  @apply mt-6 sm:mt-12 text-2xl font-medium tracking-tight text-foreground mb-3;
}

h2 {
  @apply text-2xl font-medium tracking-tight text-muted;
}

h3 {
  @apply mb-5 text-lg font-medium tracking-tight text-foreground;
}

h4 {
  @apply text-base text-foreground font-medium
}

.content {
  a {
    @apply text-foreground hover:underline underline-offset-2 duration-200;
  }
  
  p {
    @apply mb-5 last:mb-0;
  }
}