@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source "hugo_stats.json";

@theme {
  --font-display: "Inter", sans-serif; 
}

body {
  @apply font-display text-neutral-500 selection:bg-amber-500 selection:text-neutral-900;
}

h1 {
  @apply mt-6 sm:mt-12 text-2xl font-medium tracking-tight text-neutral-900 mb-3;
}

h2 {
  @apply text-2xl font-medium tracking-tight text-neutral-500;
}

h3 {
  @apply mb-5 text-lg font-medium tracking-tight text-neutral-900;
}

h4 {
  @apply text-base text-neutral-900
}

.content a {
  @apply text-neutral-900 hover:text-neutral-500 transition-colors duration-200;
}
