<hr/>
<footer class="flex items-center justify-center p-5">
  <p>
    &copy; Copyright {{ now.Year }} &middot;
    <a
      href="https://noekrebs.ch"
      class="underline-offset-2 duration-200 text-foreground hover:underline"
      >noekrebs.ch</a
    >
    &middot; {{ $lang := site.Language.Lang }} {{ if eq $lang "en" }} Lieber uf
    <a
      href="/de-ch/"
      class="underline-offset-2 duration-200 text-foreground hover:underline"
    >
      Bärndütsch </a
    >? {{ else }} More comfortable with
    <a
      href="/en/"
      class="underline-offset-2 duration-200 text-foreground hover:underline"
    >
      English </a
    >? {{ end }}
  </p>
</footer>
